extends ../layout

block content
		div.panel.panel-default
			div.panel-heading #{title}
			div.panel-body 
				form#registerForm.form-horizontal
					div.form-group
						label.col-md-4.control-label Name
						div.col-md-3
							input(name="userName").form-control
							div#userNameAlert.alert-required This field is required
					div.form-group
						label.col-md-4.control-label Email
						div.col-md-3
							input(name="userEmail").form-control
							div#userEmailAlert.alert-required Email is not right
					div.form-group
						label.col-md-4.control-label Password
						div.col-md-3
							input(name="passWord" type="password").form-control
							div#passWordAlert.alert-required This field is required
					div.form-group
						label.col-md-4.control-label Confirm Password
						div.col-md-3
							input(name="confirmPassword" type="password").form-control
							div#confirmPasswordAlert.alert-required confirmPassword must be same as password
					div.form-group
						div.col-md-6.col-md-offset-4
							button(type="submit").btn.btn-primary Register
					div.form-group
						div.col-md-6.col-md-offset-4
							a(href="/users/login") Go to Login
		

